<div>
  <form [formGroup]="phoneBookForm">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text"class="form-control" id="name" required formControlName="name"
         #inspectName minlength=6 maxlength=20> // template driven validation
        {{inspectName.className}}
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth:</label>
        <input type="date" class="form-control" id="dob" required formControlName="dob"
        #inspectDob birthDateValidator> // custom validation
        {{inspectDob.className}}
      </div>
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="text"class="form-control" id="phone" required formControlName="phone" #inspectPhone> // model driven validation
        {{inspectPhone.className}}
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!phoneBookForm.valid">Submit</button>
  </form>
</div>